.blog-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-list {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
}

.blog-card {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .blog-card {
    width: calc(33.333% - 43px); /* Three cards per row */
  }
}

@media (min-width: 960px) {
  .blog-card {
    width: calc(33.333% - 43px); /* Three cards per row */
  }
}

.sticky-paginator {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 1000;
  display: flex;
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
/* 
.sticky-paginator {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: flex-end; 
  padding: 8px 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
}

.paginator-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
} */