.blog-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search-field, .sort-field {
  flex: 1;
  margin-right: 1rem;
}

.sort-field {
  margin-right: 0;
}

.blog-list {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
}

.blog-card {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .blog-card {
    width: calc(33.333% - 43px); /* Three cards per row */
  }
}

@media (min-width: 960px) {
  .blog-card {
    width: calc(33.333% - 43px); /* Three cards per row */
  }
}

.sticky-paginator {
  position: sticky;
  bottom: 0;
  background: white;
  z-index: 1000;
  display: flex;
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.sort-panel {
  max-height: 300px !important; /* Adjust as necessary */
  overflow: auto !important;
  z-index: 1001 !important; /* Ensure it is above other elements */
}

mark {
  background-color: #cce4f7; /* Low shade of blue */
  font-weight: bold;
  color: #003366; /* Darker blue text color for better contrast */
}

